%blur-1 {
  background: var(--color-blur-1);
  backdrop-filter: blur(10px);
}

%blur-2 {
  background: var(--color-blur-2);
  backdrop-filter: blur(10px);
}

%blur-image-caption {
  background: #{"rgb(60 60 60 / 30%)"};
  backdrop-filter: blur(10px);
}

%blur-pswp-caption {
  background: #{"rgb(0 0 0 / 30%)"};
  backdrop-filter: blur(10px);
}
