%blur-01 {
  background: var(--color-blur-1);
  backdrop-filter: blur(10px);
}

%blur-02 {
  background: var(--color-blur-2);
  backdrop-filter: blur(10px);
}

%blur-11 {
  background: #{"rgb(0 0 0 / 30%)"};
  backdrop-filter: blur(10px);
}
