@use "abstracts/styles";
@use "abstracts/scrollbar";
@use "abstracts/variables" as vars;

@use "../lib/photoswipe/photoswipe";

.pswp {
  --pswp-bg: var(--color-pswp-bg);
}

.pswp__top-bar {
  @extend %blur-caption;
  pointer-events: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding: var(--gap-1);
}

.pswp--ui-visible .pswp__top-bar > * {
  pointer-events: auto;
  will-change: opacity;
}

.pswp__button {
  width: 56px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pswp__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-font-size-sm);
  line-height: var(--text-line-height-sm);
  margin: 0;
  margin-inline-start: var(--gap-2);
  text-shadow: none;
}

.pswp__preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.pswp__icn {
  position: relative;
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5;
  color: var(--color-text-1-white);
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.pswp__icn-shadow {
  fill: none;
  stroke: currentColor;
  stroke-width: inherit;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: flex;
}

.pswp__button--close {
  margin-right: 0;
}

.pswp__button--arrow {
  width: 2rem;
  height: 5rem;
  margin: 0 var(--gap-2);
}

.pswp__button--arrow .pswp__icn {
  top: 0;
  margin-top: 0;
  width: 2rem;
  height: 2rem;
}

.pswp__button--arrow--prev {
  display: none;

  @media (min-width: vars.$breakpoint-sm) {
    display: inline;
  }
}

.pswp__button--arrow--prev .pswp__icn {
  left: 0;
  right: 0;
}

.pswp__button--arrow--next {
  display: none;

  @media (min-width: vars.$breakpoint-sm) {
    display: inline;
  }
}

.pswp__button--arrow--next .pswp__icn {
  left: 0;
  right: 0;
}

.pswp__bottom-bar {
  @extend %blur-caption;
  display: none;
  position: fixed;
  inset: auto 0 0 0;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-3);
  color: var(--color-text-1-white);
  user-select: none;
  font-size: var(--text-font-size-xs);
  line-height: var(--text-line-height-xs);
  text-shadow: var(--text-shadow-xs);
  padding: var(--gap-1);

  & > .bar-caption {
    @extend %mini-scrollbar;

    & > table {
      border-collapse: collapse;

      & > tbody > tr > td {
        text-align: center;
        vertical-align: middle;
        border: none;
        border-left: 1px solid var(--color-text-2-white);

        &:first-child {
          border-left: none;
        }
      }
    }
  }

  & > .bar-fileinfo {
    display: none;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-2);
    overflow: hidden;
    transition:
      opacity 0.3s ease-in,
      max-height 0.3s ease-in,
      visibility 0.3s ease-in;

    &.fileinfo-first-bigger {
      & > pre:first-child {
        font-size: var(--text-font-size-sm);
        line-height: var(--text-line-height-sm);
        font-weight: bold;
      }
    }
  }
}
