@use "photoswipe/photoswipe";

.pswp__top-bar > * {
  pointer-events: none;
}

.pswp--ui-visible .pswp__top-bar > * {
  pointer-events: auto;

  /* this makes transition significantly more smooth,
     even though inner elements are not animated */
  will-change: opacity;
}
