{{ $data := .data }}
{{ $type := .type }}
{{ $related := .related }}

{{ $pages := slice }}
{{ if eq $type "related" }}
	{{ $pages = $related }}
{{ else }}
	{{ $pages = $data.Pages }}
{{ end }}

{{ $pages = partial "utils/filter-pages.html" $pages }}
{{ if eq $type "related" }}
	{{ $relatedLimit := $data.Param "related.limit" }}
	{{ $pages = $pages | first $relatedLimit }}
{{ end }}

<section class="albums">
	{{ range $page := $pages }}
		{{ with partial "utils/get-album.html" (dict "data" $page "type" $type) }}
			{{ $thumbnailSpec := $page.Param "album.imageSpec.thumbnail" }}
			{{ $thumbnail := .cover.Filter (slice images.AutoOrient (images.Process $thumbnailSpec)) }}
			{{ $color := index $thumbnail.Colors 0 | default "transparent" }}
			<a class="album-card" href="{{ $page.RelPermalink }}">
				<figure style="background-color: {{ $color }};">
					<img loading="lazy" decoding="async" src="{{ $thumbnail.RelPermalink }}" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" alt="{{ $page.Title }}" />
				</figure>
				<div>
					<h2>{{ $page.Title }}</h2>
					<p>
						{{ if gt .albumCount 0 }}
							{{ T "albumCount" (dict "count" (.albumCount | lang.FormatNumber 0) "photoCount" (.imageCount | lang.FormatNumber 0 | lang.Translate "photoCount")) }}
						{{ else }}
							{{ T "photoCount" (.imageCount | lang.FormatNumber 0) }}
						{{ end }}
					</p>
				</div>
			</a>
		{{ end }}
	{{ end }}
</section>
