{{ $ctx := .ctx }}
{{ $related := .related }}

{{ $pages := slice }}
{{ if $related }}
	{{ $pages = $related }}
{{ else }}
	{{ $pages = $ctx.Pages }}
{{ end }}

{{ $albums := partial "utils/filter-albums.html" $pages }}
{{ if $related }}
	{{ $relatedLimit := $ctx.Param "related.limit" }}
	{{ $albums = $albums | first $relatedLimit }}
{{ end }}

{{ with $albums }}
	<section class="albums">
		{{ range . }}
			{{ $thumbnailSpec := .page.Param "album.imageSpec.thumbnail" }}
			{{ $thumbnail := .cover.Filter (images.Process $thumbnailSpec) }}
			{{ $color := index $thumbnail.Colors 0 | default "transparent" }}
			<a class="album-card" href="{{ .page.RelPermalink }}">
				<figure style="background-color: {{ $color }};">
					<img loading="lazy" decoding="async" src="{{ $thumbnail.RelPermalink }}" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" alt="{{ .page.Title }}" />
				</figure>
				<div class="card-body">
					<h2>{{ .page.Title }}</h2>
					<p>{{ .countText }}</p>
				</div>
			</a>
		{{ end }}
	</section>
{{ end }}
