<section class="fj-gallery hidden" id="gallery">
	{{ $enableCaption := $.Param "gallery.photoSwipe.enableCaption" }}
	{{ $captionData := $.Param "gallery.photoSwipe.captionData" }}
	{{ $thumbnailSpec := $.Param "gallery.imageSpec.thumbnail" }}
	{{ $lightboxSpec := $.Param "gallery.imageSpec.lightbox" }}

	{{ $images := partial "utils/get-images.html" . }}
	{{ range $images }}
		{{ $image := .image }}
		{{ $name := .name }}
		{{ $title := .title }}
		{{ $params := .params }}
		{{ $image = partial "funcs/image/add-watermark.html" (dict "image" $image "page" $) }}
		{{ $thumbnail := $image.Filter (slice images.AutoOrient (images.Process $thumbnailSpec)) }}
		{{ $lightbox := $image.Filter (slice images.AutoOrient (images.Process $lightboxSpec)) }}
		{{ $color := index $thumbnail.Colors 0 | default "transparent" }}

		{{ $downImage := $image }}
		{{ $enableDownload := $.Param "downImage.enable" }}
		{{ if $enableDownload }}
			{{ $imageSpec := $.Param "downImage.imageSpec" }}
			{{ if eq $imageSpec "" }}
				{{ $publishResources := $.Param "build.publishResources" }}
				{{ if not $publishResources }}
					{{ $downImage = $lightbox }}
				{{ end }}
			{{ else }}
				{{ $downImage = $image.Filter (slice images.AutoOrient (images.Process $imageSpec)) }}
			{{ end }}
		{{ else }}
			{{ $downImage = $lightbox }}
		{{ end }}
		<a class="fj-gallery-item" href="{{ $downImage.RelPermalink }}" data-pswp-src="{{ $lightbox.RelPermalink }}" data-pswp-width="{{ $lightbox.Width }}" data-pswp-height="{{ $lightbox.Height }}" data-pswp-target="{{ $name | urlize }}">
			<figure itemscope itemtype="https://schema.org/ImageObject" style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }};">
				<img class="lazyload" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" data-src="{{ $thumbnail.RelPermalink }}" alt="{{ $title }}" />
				<div class="gallery-caption"><span>{{ $title }}</span></div>
				{{ if $enableCaption }}
					<div class="hidden pswp-caption">
						{{ with partial "funcs/image/parse-meta.html" (dict "image" $image "data" $captionData) }}
							{{ range . }}<span>{{ . }}</span>{{ end }}
						{{ else }}
							<span>None</span>
						{{ end }}
					</div>
				{{ end }}
				<meta itemprop="caption" content="{{ $title }}" />
				<meta itemprop="contentUrl" content="{{ $downImage.RelPermalink }}" />
				{{ with site.Params.Author }}
					<span itemscope itemprop="creator" itemtype="https://schema.org/Person">
						<meta itemprop="name" content="{{ .name }}" />
					</span>
				{{ end }}
			</figure>
		</a>
	{{ end }}
</section>
