{{ $result := slice }}

{{ $resources := .Resources.ByType "image" }}
{{ range $image := partial "utils/filter-resources.html" $resources }}
	{{ $date := time.AsTime "0001-01-01T00:00:00-00:00" }}
	{{ with $image.Params.date }}
		{{ $date = time.AsTime . }}
	{{ else }}
		{{ with $image.Meta.Date }}
			{{ $date = . }}
		{{ end }}
	{{ end }}
	{{ $params := merge $image.Params (dict "date" $date) }}
	{{ $result = $result | append (dict
		"image" $image
		"name" $image.Name
		"title" $image.Title
		"params" $params
		)
	}}
{{ end }}
{{ range $.Param "image.sort" | collections.Reverse }}
	{{ $result = sort $result .key .order }}
{{ end }}

{{ return $result }}
