{{ $ctx := .ctx }}
{{ $album := dict }}

{{ if $ctx.BundleType }}

	{{ $images := partial "utils/get-images.html" $ctx }}
	{{ $cover := partial "utils/get-cover.html" (dict "ctx" $ctx "images" $images) }}

	{{ if $cover }}
		{{ $cover = partial "utils/handle-image.html" (dict "ctx" $ctx "image" $cover) }}

		{{ $albumCount := 0 }}
		{{ $imageCount := 0 }}
		{{ if eq $ctx.BundleType "leaf" }}
			{{ $imageCount = len $images }}
		{{ else if eq $ctx.BundleType "branch" }}
			{{ $pages := $ctx.RegularPagesRecursive }}
			{{ $pages = partial "utils/filter-pages.html" $pages }}
			{{ $pages = partial "utils/filter-bundle.html" $pages }}
			{{ range $pages }}
				{{ $albumCount = add $albumCount 1 }}
				{{ $imageCount = add $imageCount (len (partial "utils/filter-resources.html" (.Resources.ByType "image"))) }}
			{{ end }}
		{{ end }}

		{{ $countText := "" }}
		{{ $imageCountText := T "imageCount" (dict "count" (lang.FormatNumber 0 $imageCount)) }}
		{{ if eq $albumCount 0 }}
			{{ $countText = $imageCountText }}
		{{ else }}
			{{ $albumCountText := T "albumCount" (dict "count" (lang.FormatNumber 0 $albumCount)) }}
			{{ $countText = printf "%s %s" $imageCountText $albumCountText }}
		{{ end }}

		{{ $album = dict
			"page" $ctx
			"cover" $cover
			"albumCount" $albumCount
			"imageCount" $imageCount
			"countText" $countText
		}}
	{{ end }}

{{ end }}

{{ return $album }}
