{{ $album := dict }}

{{ $resources := .Resources.ByType "image" }}
{{ $images := partial "utils/get-images.html" . }}
{{ if $images }}
	{{ $cover := (index $images 0).image }}
	{{ range first 1 (where $resources "Params.cover" "==" true) }}
		{{ $cover = . }}
	{{ end }}
	{{ $cover = partial "funcs/image/add-watermark.html" (dict "image" $cover "page" $) }}

	{{ $albumCount := 0 }}
	{{ $imageCount := 0 }}
	{{ if .IsPage }}
		{{ $imageCount = len $images }}
	{{ else }}
		{{ range partial "utils/filter-pages.html" .RegularPagesRecursive }}
			{{ $albumCount = add $albumCount 1 }}
			{{ $imageCount = add $imageCount (len (partial "utils/filter-resources.html" (.Resources.ByType "image"))) }}
		{{ end }}
	{{ end }}

	{{ $album = dict
		"cover" $cover
		"albumCount" $albumCount
		"imageCount" $imageCount
	}}
{{ end }}

{{ return $album }}
