{{ $enableLanguage := site.Params.language.enable }}

<header id="header">
	{{ with site.Menus.main }}
		<nav id="main-menu" class="blur-02">
			<ul>
				{{ range . }}
					<li itemscope itemtype="http://www.schema.org/SiteNavigationElement">
						<a itemprop="url" href="{{ .URL }}" {{ if or (page.IsMenuCurrent .Menu .) (page.HasMenuCurrent .Menu .) }}aria-current="page"{{ end }}>
							<span itemprop="name">{{ .Name }}</span>
						</a>
					</li>
				{{ end }}
			</ul>
		</nav>
	{{ end }}

	<nav id="main-navbar" class="blur-01">

		<ul>
			<li>
				<a class="header-title btn btn-ghost" href="{{ $.Site.Home.RelPermalink }}">
					{{ $.Site.Title }}
				</a>
			</li>
		</ul>

		<ul>
			{{ if $enableLanguage }}
				<li>
					<button id="lang-toggle" class="btn btn-ghost" type="button" title="{{ T "language" }}">
						<span class="icon">
							{{ partial "icons/hero.html" (dict "name" "outline/language" "type" "safeHTML") }}
						</span>
					</button>
					{{ partial "components/modal.html" (dict
						"id" "lang-toggle"
						"title" (T "language")
						"body" (partial "components/languages.html" $)
						"closeClick" "sys.close"
						)
					}}
				</li>
			{{ end }}
			<li>
				<button id="theme-toggle" class="btn btn-ghost" type="button" title="{{ T "theme" }}">
					<span class="icon icon-themeToggle-auto">
						{{ partial "icons/hero.html" (dict "name" "outline/clock" "type" "safeHTML") }}
					</span>
					<span class="icon icon-themeToggle-light hidden">
						{{ partial "icons/hero.html" (dict "name" "outline/sun" "type" "safeHTML") }}
					</span>
					<span class="icon icon-themeToggle-dark hidden">
						{{ partial "icons/hero.html" (dict "name" "outline/moon" "type" "safeHTML") }}
					</span>
				</button>
				<script>
					document.currentScript.previousElementSibling.setAttribute("theme", window.zeroGallery.currTheme);
				</script>
			</li>
			{{ if site.Menus.main }}
				<li>
					<button id="menu-toggle" class="btn btn-ghost" aria-expanded="false" type="button" title="{{ T "menu" }}">
						<span class="icon icon-menuToggle-bars">
							{{ partial "icons/hero.html" (dict "name" "outline/bars-3" "type" "safeHTML") }}
						</span>
						<span class="icon icon-menuToggle-xmark hidden">
							{{ partial "icons/hero.html" (dict "name" "outline/x-mark" "type" "safeHTML") }}
						</span>
					</button>
				</li>
			{{ end }}
		</ul>

	</nav>
</header>
