<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ with .Title }}{{ . }} -{{ end }} {{ .Site.Title }}</title>
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="icon" type="image/svg+xml" href="{{ "images/favicon.svg" | relURL }}" />
<link rel="icon" type="image/png" href="{{ "images/favicon.png" | relURL }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | relURL }}" />
<meta name="description" content="{{ with .Description }}{{ . | markdownify | plainify }}{{ else }}{{ with site.Params.description }}{{ . | markdownify | plainify }}{{ end }}{{ end }}" />

{{ if $.Keywords }}
	<meta name="keywords" content="{{ delimit $.Params.Keywords `, ` }}" />
{{ end }}

{{ if $.Params.private }}
	<meta name="robots" content="noindex, nofollow" />
{{ else }}
	<meta name="robots" content="index, follow" />
{{ end }}

{{ range .AlternativeOutputFormats }}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end }}

{{ partial "common/opengraph.html" . }}

{{ partial "import/css.html" (dict "path" "/css/common/main.scss") }}
{{ partial "import/css.html" (dict "path" "/css/common/custom.scss") }}

{{ $params := dict "buildTime" now.Unix "defaultTheme" site.Params.defaultTheme }}
{{ partial "import/js.html" (dict "path" "js/common/init.js" "format" "iife" "params" $params) }}

{{ $params := dict }}
{{ partial "import/js.html" (dict "path" "js/common/main.js" "format" "esm" "params" $params) }}
{{ partial "import/js.html" (dict "path" "js/common/custom.js" "format" "esm" "params" $params) }}
