<!doctype html>
<html class="{{ site.Params.defaultTheme }}" lang="{{ site.Language.Locale | default "en" }}">
	<head>
		{{ partial "common/head.html" . }}
		{{ block "head-assets" . }}{{ end }}
		{{ partial "import/css-sass.html" (dict "path" "scss/custom/custom.scss" "vars" dict) }}
		{{ partial "import/js-esm.html" (dict "path" "js/custom/custom.js" "params" dict) }}
		{{ with partial "custom/custom-head.html" . }}{{ . }}{{ end }}
	</head>
	<body>
		{{ block "header" . }}{{ partial "common/header.html" . }}{{ end }}
		<main>
			{{ block "main" . }}{{ end }}
		</main>
		{{ block "footer" . }}{{ partialCached "common/footer.html" . }}{{ end }}
	</body>
</html>
