{{ define "main" }}
{{ partial "components/title.html" . }}
{{ partial "components/prose.html" . }}
{{ partial "components/categories.html" }}
{{ partial "components/featured.html" . }}
{{ partial "components/albums.html" (dict "data" . "type" "page") }}
{{ end }}

{{ define "head-assets" }}
{{ $vars := dict }}
{{ partial "import/css-sass.html" (dict "path" "scss/prose.scss" "vars" $vars) }}

{{ $vars := dict }}
{{ $params := dict }}
{{ partial "import/css-sass.html" (dict "path" "scss/lazysizes.scss" "vars" $vars) }}
{{ partial "import/js-esm.html" (dict "path" "js/lazysizes.js" "params" $params) }}
{{ end }}
