{{ define "main" }}
{{ partial "components/title.html" . }}
<section class="albums">
	{{ range partial "handle/pages.html" .Pages }}
		{{ partial "components/album.html" . }}
	{{ end }}
</section>
{{ with .Content }}
	{{ partial "components/prose.html" . }}
{{ end }}
{{ end }}

{{ define "head-assets" }}
{{ $vars := dict }}
{{ partial "import/css-sass.html" (dict "path" "css/prose.scss" "vars" $vars) }}

{{ $vars := dict }}
{{ $params := dict }}
{{ partial "import/css-sass.html" (dict "path" "css/lazysizes.scss" "vars" $vars) }}
{{ partial "import/js-esm.html" (dict "path" "js/lazysizes.js" "params" $params) }}
{{ end }}
