{{ define "main" }}
{{ partial "components/title.html" . }}
<section class="albums">
	{{ range partial "data/pages.html" .Pages }}
		{{ partial "components/album.html" . }}
	{{ end }}
</section>
{{ with .Content }}
	{{ partial "components/prose.html" . }}
{{ end }}
{{ end }}

{{ define "head-assets" }}
{{ partial "import/css.html" (dict "path" "/css/prose.scss") }}

{{ $params := dict }}
{{ partial "import/css.html" (dict "path" "/css/lazysizes.scss") }}
{{ partial "import/js.html" (dict "path" "js/lazysizes.js" "format" "esm" "params" $params) }}
{{ end }}
