{{ define "main" }}
{{ partial "components/title.html" . }}
{{ partial "components/gallery.html" . }}
{{ partial "components/related.html" . }}
{{ with .Content }}
	{{ partial "components/prose.html" . }}
{{ end }}
{{ end }}

{{ define "head-assets" }}
{{ $vars := dict }}
{{ partial "import/css-sass.html" (dict "path" "css/prose.scss" "vars" $vars) }}

{{ $vars := dict }}
{{ $params := dict
	"gutterH" ($.Param "gallery.justified.gutterH")
	"gutterV" ($.Param "gallery.justified.gutterV")
	"rowHeight" ($.Param "gallery.justified.rowHeight")
	"rowHeightTolerance" ($.Param "gallery.justified.rowHeightTolerance")
}}
{{ partial "import/css-sass.html" (dict "path" "css/gallery.scss" "vars" $vars) }}
{{ partial "import/js.html" (dict "path" "js/gallery.js" "format" "esm" "params" $params) }}

{{ $vars := dict }}
{{ $params := dict }}
{{ partial "import/css-sass.html" (dict "path" "css/lazysizes.scss" "vars" $vars) }}
{{ partial "import/js.html" (dict "path" "js/lazysizes.js" "format" "esm" "params" $params) }}

{{ $enableDownload := $.Param "downImage.enable" }}
{{ .Store.Set "enableDownload" $enableDownload }}
{{ $vars := dict }}
{{ $params := dict
	"closeTitle" (i18n "closeTitle")
	"zoomTitle" (i18n "zoomTitle")
	"arrowPrevTitle" (i18n "arrowPrevTitle")
	"arrowNextTitle" (i18n "arrowNextTitle")
	"errorMsg" (i18n "errorMsg")
	"downloadTitle" (i18n "downloadTitle")
	"enableDownload" $enableDownload
}}
{{ partial "import/css-sass.html" (dict "path" "css/photoswipe.scss" "vars" $vars) }}
{{ partial "import/js.html" (dict "path" "js/photoswipe.js" "format" "esm" "params" $params) }}
{{ end }}
