{{ define "main" }}
{{ partial "components/title.html" . }}
{{ with .Content }}{{ partial "components/prose.html" . }}{{ end }}
{{ partial "components/gallery.html" . }}
{{ partial "components/related.html" . }}
{{ end }}

{{ define "head-assets" }}
{{ $vars := dict }}
{{ partial "import/css-sass.html" (dict "path" "scss/prose.scss" "vars" $vars) }}

{{ $vars := dict }}
{{ $params := dict
	"gutterH" ($.Param "gallery.justified.gutterH")
	"gutterV" ($.Param "gallery.justified.gutterV")
	"rowHeight" ($.Param "gallery.justified.rowHeight")
	"rowHeightTolerance" ($.Param "gallery.justified.rowHeightTolerance")
}}
{{ partial "import/css-sass.html" (dict "path" "scss/gallery.scss" "vars" $vars) }}
{{ partial "import/js-esm.html" (dict "path" "js/gallery.js" "params" $params) }}

{{ $vars := dict }}
{{ $params := dict }}
{{ partial "import/css-sass.html" (dict "path" "scss/lazysizes.scss" "vars" $vars) }}
{{ partial "import/js-esm.html" (dict "path" "js/lazysizes.js" "params" $params) }}

{{ $enableDownload := $.Param "downImage.enable" }}
{{ $enableCaption := $.Param "gallery.photoSwipe.caption.enable" }}
{{ $enableFileInfo := $.Param "gallery.photoSwipe.fileInfo.enable" }}
{{ $vars := dict }}
{{ $params := dict
	"closeTitle" (i18n "closeTitle")
	"zoomTitle" (i18n "zoomTitle")
	"arrowPrevTitle" (i18n "arrowPrevTitle")
	"arrowNextTitle" (i18n "arrowNextTitle")
	"errorMsg" (i18n "errorMsg")
	"downloadTitle" (i18n "downloadTitle")
	"fileInfoTitle" (i18n "fileInfoTitle")
	"enableDownload" $enableDownload
	"enableCaption" $enableCaption
	"enableFileInfo" $enableFileInfo
}}
{{ partial "import/css-sass.html" (dict "path" "scss/photoswipe.scss" "vars" $vars) }}
{{ partial "import/js-esm.html" (dict "path" "js/photoswipe.js" "params" $params) }}
{{ end }}
