{{ define "main" }}
{{ partial "components/title.html" $ }}

{{ $termCount := 0 }}
{{ $albumCount := 0 }}
{{ range $taxonomy, $terms := $.Site.Taxonomies }}
	{{ with $terms }}
		{{ range .Alphabetical }}
			{{ $albums := partial "utils/filter-albums.html" .WeightedPages }}
			{{ with $albums }}
				{{ $albumCount = add $albumCount 1 }}
			{{ end }}
		{{ end }}
		{{ if gt $albumCount 0 }}
			{{ $termCount = add $termCount 1 }}
		{{ end }}
	{{ end }}
{{ end }}

{{ if gt $termCount 0 }}
	<section class="taxonomies">
		{{ range $taxonomy, $terms := $.Site.Taxonomies }}
			{{ with $terms }}
				{{ if gt $albumCount 0 }}
					<div class="terms">
						<div class="term-title">
							<a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a>
						</div>
						<div class="term-list">
							{{ range .Alphabetical }}
								{{ partial "components/term.html" (dict
									"Term" .Term
									"Page" .WeightedPages.Page
									"Count" .WeightedPages.Count
									"WeightedPages" .WeightedPages
									)
								}}
							{{ end }}
						</div>
					</div>
				{{ end }}
			{{ end }}
		{{ end }}
	</section>
{{ else }}
	<hgroup class="hgroup-h1">
		<p>{{ T "noData" }}</p>
	</hgroup>
{{ end }}

{{ end }}
