@use "../../lib/tailwindcss/sizes" as sizes;
@use "../../lib/tailwindcss/fonts" as fonts;
@use "../../lib/tailwindcss/shadows" as shadows;

@use "../abstracts/styles";
@use "../abstracts/variables" as vars;

body > main > section {
  margin: 0 auto var(--gap-main);
}

body > main > section.fj-gallery {
  user-select: none;
  overflow: visible;

  & > .fj-gallery-item {
    cursor: zoom-in;
    clip-path: inset(0 round var(--radius-lg));

    & > figure {
      position: relative;
      margin: 0;
      padding: 0;
      line-height: 0;

      & > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s var(--transition-func-01);
      }

      & > .image-caption {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: var(--gap-4);
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: var(--gap-2);
        transform: translateY(100%);
        transition: transform 0.3s var(--transition-func-01);

        & > .caption-text {
          @include fonts.text-xs;
          text-align: center;
          color: var(--color-text-regular-high);
        }

        & > .caption-bg {
          position: absolute;
          inset: 0;
          z-index: -1;
          overflow: hidden;
          border-radius: 0 0 var(--radius-lg) var(--radius-lg);
        }
      }

      &:hover {
        & > img {
          transform: scale(1.02);
        }

        & > .image-caption {
          transform: translateY(0);

          & > .caption-bg {
            @extend %blur-image-caption;
          }
        }
      }
    }

    &:focus-visible {
      outline: none;

      & > figure {
        & > .image-caption {
          transform: translateY(0);

          & > .caption-bg {
            @extend %blur-image-caption;
            background: color-mix(in srgb, var(--color-focus-outline) 30%, transparent);
          }
        }
      }
    }
  }
}

body > .pswp > section.pswp__scroll-wrap {
  & > .pswp__container {
    & > .pswp__item {
      img {
        cursor: default;
      }
    }
  }
}

body > main > section.albums {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--gap-8) var(--gap-6);

  @media (min-width: vars.$breakpoint-sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: vars.$breakpoint-lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  & > .album-card {
    display: flex;
    flex-flow: column nowrap;

    & > figure {
      @include sizes.rounded-lg;
      aspect-ratio: 3/2;
      width: 100%;
      overflow: hidden;
      transition: transform 0.3s var(--transition-func-01);

      & > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        @include shadows.box-lg;
        transform: scale(1.02);
      }
    }

    & > .card-body {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 1 auto;
      gap: var(--gap-2);
      padding: 1rem;

      & > h2 {
        @include fonts.text-lg;
        @include fonts.bold;
      }

      & > p {
        @include fonts.text-sm;
        color: var(--color-text-secondary);
      }
    }
  }
}

body > main > section.featured {
  user-select: none;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--gap-main);

  & > .featured-card {
    aspect-ratio: 1/1;
    position: relative;
    width: 100%;
    color: var(--color-text-regular);
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    overflow: hidden;

    @media (min-width: vars.$breakpoint-sm) {
      aspect-ratio: 16/9;
    }

    & > figure {
      position: absolute;
      width: 100%;
      height: 100%;
      mask-image: linear-gradient(to top, transparent, black 30%);

      & > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.4s var(--transition-func-01);
      }
    }

    & > .card-body {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      gap: var(--gap-4);
      padding: 1.5rem;
      width: 100%;
      height: auto;
      box-sizing: border-box;

      & > h2 {
        @include fonts.text-2xl;
        @include fonts.bold;
      }

      & > p {
        @include fonts.text-sm;
      }
    }

    &:hover > figure > img {
      transform: scale(1.05);
    }
  }
}

body > main > section.taxonomies {
  user-select: none;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--gap-8);

  & > .terms {
    & > .term-title {
      @include fonts.text-2xl;
      @include fonts.bold;
      margin-bottom: 1rem;
      color: var(--color-text-secondary);
    }

    & > .term-list {
      display: flex;
      flex-flow: row wrap;
      gap: var(--gap-4);

      & > .card-term {
        @include sizes.rounded-2xl;
        display: flex;
        flex-flow: column nowrap;
        gap: var(--gap-2);
        padding: 1rem;
        border: 1px solid var(--color-card-bg);
        background-color: var(--color-card-bg);

        & > .card-title {
          @include fonts.text-lg;
          @include fonts.bold;
        }

        & > .card-body {
          @include fonts.text-sm;
          color: var(--color-text-secondary);
        }

        &:hover {
          background-color: var(--color-card-hover);
        }
      }
    }
  }
}

body > footer > section {
  margin: 0 auto 0;
}

body > footer > section.socials {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-2);

  & > a > svg {
    width: 20px;
    height: 20px;
  }
}

body > footer > section.footer-bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-2) var(--gap-4);

  & > nav#footer-menu {
    & > ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: var(--gap-4);
    }
  }

  a {
    &:hover {
      color: var(--color-text-primary);
      text-underline-offset: var(--gap-1);
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 1px;
    }
  }
}
