@use "../../lib/tailwindcss/font" as font;
@use "../../lib/tailwindcss/shadow" as shadow;

@use "../abstracts/styles";
@use "../abstracts/variables" as vars;

body > main > section {
  margin: 0 auto var(--gap-main);
}

body > main > section.fj-gallery {
  overflow: visible;

  & > .fj-gallery-item {
    cursor: zoom-in;
    overflow: hidden;
    border-radius: var(--border-radius-1);

    & > figure {
      position: relative;
      margin: 0;
      padding: 0;
      line-height: 0;
      clip-path: inset(0 round var(--border-radius-1));

      & > .image-caption {
        @extend %blur-caption;
        @include font.text-xs;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: var(--gap-1);
        color: var(--color-text-1-white);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap-2);
        opacity: 0;
        transform: translateY(10px);
        transition:
          opacity 0.3s var(--transition-func-01),
          transform 0.3s var(--transition-func-01);
      }

      & > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s var(--transition-func-01);
      }

      &:hover {
        & > img {
          transform: scale(1.02);
        }

        & > .image-caption {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

body > .pswp > section.pswp__scroll-wrap {
  & > .pswp__container {
    & > .pswp__item {
      img {
        cursor: default;
      }
    }
  }
}

body > main > section.albums {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--gap-4) var(--gap-3);

  @media (min-width: vars.$breakpoint-sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: vars.$breakpoint-lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  & > .album-card {
    display: flex;
    flex-flow: column nowrap;

    & > figure {
      aspect-ratio: 3/2;
      width: 100%;
      border-radius: var(--border-radius-1);
      overflow: hidden;
      transition: transform 0.3s var(--transition-func-01);

      & > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        @include shadow.box-lg;
        transform: scale(1.02);
      }
    }

    & > div {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 1 auto;
      gap: var(--gap-1);
      padding: 1rem;

      & > h2 {
        @include font.text-lg;
        @include font.bold;
      }

      & > p {
        @include font.text-sm;
        color: var(--color-text-2);
      }
    }
  }
}

body > main > section.featured {
  color: var(--color-text-1);

  & > .featured-card {
    position: relative;
    display: flex;
    border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;

    @media (min-width: vars.$breakpoint-sm) {
      aspect-ratio: 16/9;
    }

    & > figure {
      position: absolute;
      width: 100%;
      height: 100%;
      mask-image: linear-gradient(to top, transparent, black 30%);

      & > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.4s var(--transition-func-01);
      }
    }

    & > div {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      gap: var(--gap-2);
      padding: 1.5rem;
      width: 100%;
      height: auto;
      box-sizing: border-box;

      & > h2 {
        @include font.text-2xl;
        @include font.bold;
      }

      & > p {
        @include font.text-sm;
      }
    }

    &:hover > figure > img {
      transform: scale(1.05);
    }
  }
}

body > main > section.terms {
  & > .terms-title {
    @include font.text-2xl;
    @include font.bold;
    margin-bottom: 1rem;
    color: var(--color-text-2);
  }

  & > .term-list {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap-2);

    & > .card-term {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--gap-1);
      padding: 1rem;
      border-radius: var(--border-radius-2);
      border: 1px solid var(--color-card-bg);
      background-color: var(--color-card-bg);

      & > .card-title {
        @include font.text-lg;
        @include font.bold;
      }

      & > .card-body {
        @include font.text-sm;
        color: var(--color-text-2);
      }

      &:hover {
        background-color: var(--color-card-hover);
      }
    }
  }
}
