html {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-body);
  color: var(--color-text-1);
}

body > header > nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 4rem;
  padding: var(--gap-1);

  ul {
    display: inline-flex;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      .header-title {
        font-size: var(--text-xl-font-size);
      }

      .icon {
        width: var(--size-icon-4);
        height: var(--size-icon-4);
      }
    }
  }
}

#menu-toggle {
  &[aria-expanded="true"] {
    .icon-menuToggle-bars {
      display: none;
    }
    .icon-menuToggle-xmark {
      display: block;
    }
  }
}

body > header > menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 6rem 3rem var(--gap-footer);

  color: var(--color-text-2);
  font-weight: 600;
  font-size: var(--text-xl-font-size);
  line-height: var(--text-xl-line-height);
  user-select: none;
  text-align: center;
  scrollbar-gutter: stable;

  display: flex !important;
  flex-direction: column;
  gap: var(--gap-2);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease,
    visibility 0.8s ease;

  a {
    display: block;

    &:hover,
    &[aria-current="true"] {
      color: var(--color-text-1);
    }
  }

  &.hidden {
    opacity: 0;
    transform: translateY(-20%);
    visibility: hidden;
  }
}

body > main {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 8rem var(--gap-2) var(--gap-2);
}

body > footer {
  color: var(--color-text-2);
  font-size: var(--text-sm-font-size);
  line-height: var(--text-sm-line-height);

  display: flex;
  flex-direction: column;
  gap: var(--gap-footer);
  padding: 0 var(--gap-2) var(--gap-footer);

  & > section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--gap-2);

    a {
      text-underline-offset: 0.4rem;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 1px;

      &:hover {
        text-decoration-thickness: 2px;
      }
    }
  }
}

#theme-toggle {
  &[theme="light"] {
    .icon-themeToggle-auto {
      display: none;
    }
    .icon-themeToggle-light {
      display: block;
    }
    .icon-themeToggle-dark {
      display: none;
    }
  }

  &[theme="dark"] {
    .icon-themeToggle-auto {
      display: none;
    }
    .icon-themeToggle-light {
      display: none;
    }
    .icon-themeToggle-dark {
      display: block;
    }
  }
}

hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 0 auto var(--gap-main);
  max-width: 1024px;
  text-align: center;
  h1 {
    font-weight: 600;
    font-size: var(--text-4xl-font-size);
    line-height: var(--text-4xl-line-height);
    text-shadow: var(--text-shadow-md);
  }

  h2 {
    font-weight: 600;
    font-size: var(--text-2xl-font-size);
    line-height: var(--text-2xl-line-height);
  }

  p {
    color: var(--color-text-2);
    font-size: var(--text-md-font-size);
    line-height: var(--text-md-line-height);
  }

  @media (min-width: 640px) {
    max-width: 65ch;
  }
}

.hidden {
  display: none;
}

.blur-01 {
  background: var(--color-blur-1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.blur-02 {
  background: var(--color-blur-2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

nav.categories {
  margin: 0 auto var(--gap-main);

  & > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--gap-2);
  }
}
