:root {
  color-scheme: light dark;

  // size

  --size: 0.25rem;

  --gap-1: calc(var(--size) * 2);
  --gap-2: calc(var(--size) * 4);
  --gap-3: calc(var(--size) * 6);
  --gap-4: calc(var(--size) * 8);
  --gap-5: calc(var(--size) * 10);
  --gap-6: calc(var(--size) * 12);
  --gap-main: calc(var(--size) * 12);
  --gap-footer: calc(var(--size) * 8);

  --border-radius-1: calc(var(--size) * 2);
  --border-radius-2: calc(var(--size) * 4);
  --border-radius-3: calc(var(--size) * 6);
  --border-radius-4: calc(var(--size) * 8);
  --border-radius-5: calc(var(--size) * 10);
  --border-radius-infinity: 9999rem;

  --size-icon-1: calc(var(--size) * 3);
  --size-icon-2: calc(var(--size) * 4);
  --size-icon-3: calc(var(--size) * 5);
  --size-icon-4: calc(var(--size) * 6);
  --size-icon-5: calc(var(--size) * 7);
  --size-icon-6: calc(var(--size) * 8);

  // color

  --color-text-1-white: rgb(250 250 250);
  --color-text-1-black: rgb(10 10 10);
  --color-text-2-white: rgb(163 163 163);
  --color-text-2-black: rgb(115 115 115);

  --color-text-1: light-dark(var(--color-text-1-black), var(--color-text-1-white));
  --color-text-1-invert: light-dark(var(--color-text-1-white), var(--color-text-1-black));
  --color-text-2: light-dark(var(--color-text-2-black), var(--color-text-2-white));
  --color-text-2-invert: light-dark(var(--color-text-2-white), var(--color-text-2-black));

  --color-blur-1: light-dark(rgb(255 255 255 / 40%), rgb(0 0 0 / 40%));
  --color-blur-2: light-dark(rgb(255 255 255 / 60%), rgb(0 0 0 / 60%));

  --color-body-bg: light-dark(rgb(255 255 255), var(--color-neutral-900));
  --color-card-bg: light-dark(var(--color-neutral-100), var(--color-neutral-800));
  --color-card-hover: light-dark(var(--color-neutral-200), var(--color-neutral-700));
  --color-btn-bg: light-dark(var(--color-neutral-300), var(--color-neutral-600));
  --color-btn-hover: light-dark(var(--color-neutral-400), var(--color-neutral-500));

  --color-modal-bg: light-dark(rgb(255 255 255), var(--color-neutral-800));
  --color-modal-border: light-dark(rgb(0 0 0 / 10%),rgb(255 255 255 / 10%));
  --color-pswp-bg: light-dark(rgb(30 30 30 / 100%), rgb(30 30 30 / 100%));
  --color-focus-outline: light-dark(rgb(0 0 0 / 100%), rgb(255 255 255 / 100%));

  // transition

  --transition-func-01: cubic-bezier(0.2, 0, 0, 1);
}

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}
