:root {
  color-scheme: light dark;

  // size

  --size: 0.25rem;

  --gap-1: calc(var(--size) * 2);
  --gap-2: calc(var(--size) * 4);
  --gap-3: calc(var(--size) * 6);
  --gap-4: calc(var(--size) * 8);
  --gap-5: calc(var(--size) * 10);
  --gap-6: calc(var(--size) * 12);
  --gap-main: calc(var(--size) * 12);
  --gap-footer: calc(var(--size) * 8);

  --border-radius-1: calc(var(--size) * 2);
  --border-radius-2: calc(var(--size) * 4);
  --border-radius-3: calc(var(--size) * 6);
  --border-radius-4: calc(var(--size) * 8);
  --border-radius-5: calc(var(--size) * 10);
  --border-radius-infinity: 9999rem;

  --size-icon-1: calc(var(--size) * 3);
  --size-icon-2: calc(var(--size) * 4);
  --size-icon-3: calc(var(--size) * 5);
  --size-icon-4: calc(var(--size) * 6);
  --size-icon-5: calc(var(--size) * 7);
  --size-icon-6: calc(var(--size) * 8);

  // text

  --text-font-size-xs: 0.75rem;
  --text-line-height-xs: calc(1 / 0.75);
  --text-font-size-sm: 0.875rem;
  --text-line-height-sm: calc(1.25 / 0.875);
  --text-font-size-md: 1rem; // base
  --text-line-height-md: calc(1.5 / 1); // base
  --text-font-size-lg: 1.125rem;
  --text-line-height-lg: calc(1.75 / 1.125);
  --text-font-size-xl: 1.25rem;
  --text-line-height-xl: calc(1.75 / 1.25);
  --text-font-size-2xl: 1.5rem;
  --text-line-height-2xl: calc(2 / 1.5);
  --text-font-size-3xl: 1.875rem;
  --text-line-height-3xl: calc(2.25 / 1.875);
  --text-font-size-4xl: 2.25rem;
  --text-line-height-4xl: calc(2.5 / 2.25);
  --text-font-size-5xl: 3rem;
  --text-line-height-5xl: 1;

  // color

  --color-text-1-white: rgb(250 250 250);
  --color-text-1-black: rgb(10 10 10);
  --color-text-2-white: rgb(163, 163, 163);
  --color-text-2-black: rgb(115, 115, 115);

  --color-text-1: light-dark(var(--color-text-1-black), var(--color-text-1-white));
  --color-text-1-invert: light-dark(var(--color-text-1-white), var(--color-text-1-black));
  --color-text-2: light-dark(var(--color-text-2-black), var(--color-text-2-white));
  --color-text-2-invert: light-dark(var(--color-text-2-white), var(--color-text-2-black));

  --color-blur-1: light-dark(rgb(255 255 255 / 40%), rgb(0 0 0 / 40%));
  --color-blur-2: light-dark(rgb(255 255 255 / 60%), rgb(0 0 0 / 60%));
  --color-bg-body: light-dark(rgb(255 255 255), rgb(18 18 18));
  --color-bg-1: light-dark(rgb(255 255 255), rgb(18 18 18));
  --color-border-1: light-dark(color-mix(in oklab, oklch(98% 0 0deg), #000 10%), color-mix(in oklab, oklch(0% 0 0deg), #fff 40%));
  --color-hover-1: var(--color-border-1);
  --color-pswp-bg: light-dark(rgb(30 30 30 / 100%), rgb(30 30 30 / 100%));

  // shadow

  --color-box-shadow: light-dark(rgb(0 0 0 / 10%), rgb(255 255 255 / 10%));
  --box-shadow-xs: var(--color-box-shadow) 0px 0px 0px 0px, var(--color-box-shadow) 0px 1px 2px 0px;
  --box-shadow-sm: var(--color-box-shadow) 0px 1px 3px 0px, var(--color-box-shadow) 0px 1px 2px -1px;
  --box-shadow-md: var(--color-box-shadow) 0px 4px 6px -1px, var(--color-box-shadow) 0px 2px 4px -2px;
  --box-shadow-lg: var(--color-box-shadow) 0px 10px 15px -3px, var(--color-box-shadow) 0px 4px 6px -4px;
  --box-shadow-xl: var(--color-box-shadow) 0px 20px 25px -5px, var(--color-box-shadow) 0px 8px 10px -6px;

  --text-box-shadow: light-dark(rgb(0 0 0 / 10%), rgb(255 255 255 / 10%));
  --text-shadow-xs: var(--text-box-shadow) 0px 1px 1px;
  --text-shadow-sm: var(--text-box-shadow) 0px 1px 0px, var(--text-box-shadow) 0px 1px 1px, var(--text-box-shadow) 0px 2px 2px;
  --text-shadow-md: var(--text-box-shadow) 0px 1px 1px, var(--text-box-shadow) 0px 1px 2px, var(--text-box-shadow) 0px 2px 4px;
  --text-shadow-lg: var(--text-box-shadow) 0px 1px 2px, var(--text-box-shadow) 0px 3px 2px, var(--text-box-shadow) 0px 4px 8px;

  // transition

  --transition-func-01: cubic-bezier(0.2, 0, 0, 1);
}

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}
